<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="assignment3.Properties.Settings.myDBConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\myDB7.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />



		<add name="myCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='D:\Download\IOOP GROUP 15_CHANWENHUNG\myDB7.mdf';Integrated Security=True" />
	</connectionStrings>

</configuration>

